 <!-- Portfolio Modals -->
 {% for post in site.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            {% if post.subtitle %}
                            <h3>{{ post.subtitle }}</h3>
                            {% endif %}
                            <ul class="list-inline">
                                {% for link in post.links %}
                                <li>
                                    <a href="{{ link.url }}" class="btn-social btn-outline" target="_blank"  data-toggle="tooltip" data-placement="bottom" data-original-title="{{ link.title }}">
                                      <i class="fa fa-fw {{ link.icon }}"></i>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                            {{ post.content | markdownify }}
                            <br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}